*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-image: url(wallpaperflare.com_wallpaper\ \(14\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
}
h1{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 16px;
}
h4{
    text-transform: uppercase;
    padding-bottom: 16px;
}
.b{
    width: 500px;
    background-color: whitesmoke;
    border-radius: 16px;
    padding: 3.5rem;
    box-shadow: 6px 5px 4px 3px rgba(0,0,0,16);
    margin-top: -100px;
}
.a{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    width: 100%;
}
.text-box{
    padding: 10px;
}
/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.button-30{
    width: 100%;
    margin-bottom: 20px;
}
a{
    color: purple;
    text-align: center;
    text-decoration:none ;
}
.fa-solid{
    color: white;
    font-size: 50px;
    margin-left: 30px;
    margin-top: 20px;
}
.thing{
    margin-left: 7px;
}
.fa-house{
    float: right;
    font-size: 50px;
    margin-right: 30px;
    margin-top: 20px;
}
.text-field {
    position: relative;
    margin: 10px 2.5px 20px 2.5px;
}
  
input {
    display: inline-block;
    font-size: 25px;
    width: 390px;
    border: thin solid #fafafa;
    border-bottom: solid medium #999;
    color: #444;
    background-color: whitesmoke;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
}
  
input:focus {
        border: thin solid rgb(26, 26, 26);
        border-bottom: solid medium rgb(26, 26, 26);
        background-color: whitesmoke;
}
  
label {
    color: #999;
    font-size: 20px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s;
}
  
input:focus ~ label, input:valid ~ label {
    top: -10px;
    left: 15px;
    font-size: 15px;
    color: rgb(26, 26, 26);
    background-color: whitesmoke;
    padding:0 5px 0 5px;
}